@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Poppins', sans-serif; }

html, body {
  overflow-x: hidden;
  max-width: 100%;
  background: #F1F3F5;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  border: none;
  text-align: left;
  display: block;
}
